.btn{
  height: 2rem;
  color: $colorTextLightGray;
  border: $grayBorder;
  background-image: $buttonBackground; //todo may de need shadow
  @include border-radius(2px);
}

.to-cart{
  width: 8rem;
}

.search{
  width: 6rem;
}

.purchase{
  width: 12rem;
}