//-------Floated Elements-------


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// -------Aligning Elements-------


.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}
.center{
  margin: 0 auto;
}

.text-uppercase{
  text-transform: uppercase;
}

.text-bold{
  font-weight: bold;
}


// ------- Display Values --------


.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// -------Background colors ------

.bg-white{
  &.bg-white{
    background-color: $white;
  }
}

.bg-gray{
  &.bg-gray{
    background-color: $graySteel;
  }
}

.bg-dark-gray{
  &.bg-dark-gray{
    background-color: $grayVoronSteel;
  }
}



// ---- Text colors ---
.text-white{
  &.text-white{
    color: $colorTextWhite  ;
  }
}

.text-dark-gray{
  &.text-dark-gray{
    color: $colorTextDarkGray;
  }
}

.text-light-gray{
  &.text-light-gray{
    color: $colorTextLightGray;
  }
}

.text-cyan{
  &.text-cyan{
    color: $primeSecond;
  }
}

.text-orange{
  &.text-orange{
    color: $primeFirst;
  }
}

//---border---
.border-gray{
  &.border-gray{
    border: $grayBorder;
  }
}

// -------------------
.input{
  height: 2rem;
  border: $grayBorder;
  @include border-radius(2px);
  padding-left: 1.6rem;
  color: $colorTextLightGray;;
}


//---- Activity -------

.visible{
  &.visible{
    visibility: visible;
  }
}

//------ -------
.best-price{
  background-color: $teal;
  padding: 0 0.5rem;
  color: $white;
  display: block;
  @include border-radius(2px);
  position: relative;
  z-index: 1;

  &::before{
    content: ' ';
    border: 5px solid transparent;
    border-top: 5px solid $teal;
    border-right: 5px solid $teal;
    position: absolute;
    top: 16px;
    left: 16px;

  }
}

.best-seller{
  background-color: $brightOrange;
  padding: 0 0.5rem;
  color: $white;
  display: block;
  @include border-radius(2px);
  position: relative;
  z-index: 1;

  &::after{
    content: ' ';
    border: 5px solid transparent;
    border-top: 5px solid $brightOrange;
    border-right: 5px solid $brightOrange;
    position: absolute;
    top: 16px;
    left: 16px;

  }
}


.active{
  &.active{
    background: $brightOrange;
  }
}


//-----time---
.time{
  background: $blueGradient;
  padding: 0.5rem 0.7rem;
  margin-bottom: 0.8rem;
  color: $white;
  line-height: 1;
  @include border-radius(2px);
}