.container{
  min-height: 2rem;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.main{
  max-width: 77.6rem;
  min-height: 10rem;
  @include breakpoint(medium) {
    max-width: 100%;
    float: none;
    margin: 0 auto;
  }
}

.container > .h4:first-of-type{
  background: url('../images/nav-icons-vertical.png') no-repeat -25px -408px;
}

.aside{
  width: 18.8rem;
  min-height: 7rem;
  border: $grayBorder;
}

article{
  margin: 1.4rem 0.5rem 0 1.3rem;
}

