// -------reset css -----
html, body,
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address,
del, dfn, em, img, small, strong, sub, sup, i, center,
ol, ul, li,
fieldset, form, label,
table, caption, article, aside, canvas, details,
figure, figcaption, footer, header,
menu, nav, section,
time, mark{
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

//-----end reset