*{
  box-sizing: border-box;
}

html {
  font-size: 10px; // static
  line-height: 1.5;
}

body{
  color: $colorTextLightGray;
  font: lighter 1.2rem $primeFont;
  line-height: 1.5;

}


// ------- Links ----------

a{
  text-decoration: none;
}

.link {
  text-decoration: underline;

  &:hover,
  &:focus {

    text-decoration: underline;
  }
}


// ------ Images --------

img {
  vertical-align: middle;
}


figure{
  box-sizing: border-box;
  max-width: 18rem;
  overflow: hidden;
  position: relative;
}

figure > img{
  //transition: transform .35s ease;
  @include transition(transform .35s ease);
}

figcaption{
  visibility: hidden;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}


figure:hover img{
  @include transform(scale(1.3));
}

figure:hover figcaption{
  visibility: visible;
}


// ------ Body text --------

p{
  color: $colorTextDarkDray;
}


// ----- Headings ------

.h1,
.h2,
.h2,
.h3,
.h4,
.h5,
.h6{
  margin: 0;
}

.h1{
  color: $primeLogoOrange;
  font: normal 3.6rem $primeLogoFont;
  //text-shadow: ;   todo
}

.h2{
  font: normal 1.8rem $primeFont;
  color: $colorTextLightGray;
  vertical-align: middle;
}

.h4{
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h4 >a:hover{
  text-decoration: underline;
}